* {
    padding: 0;
    margin: 0;
    border: 0;
}

@font-face {
    font-family: 'Montserrat';
    /* Font family name */
    src: url('font/Montserrat-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    line-height: 120%;
}

@font-face {
    font-family: 'Montserrat-bold';
    /* Font family name */
    src: url('font/Montserrat-Bold.ttf');
    font-weight: 700;
    line-height: 120%;
}

body {
    font-family: 'Montserrat';
    color: var(--navy, #172B54);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

@media (min-width: 1280px) {

    /*---------- NAVBAR -------*/
    #navbar {
        display: flex;
        height: 60px;
        padding: 16px 80px;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-bottom: 1px solid var(--cool-gray-20, #DDE1E6);
        background: var(--light, #E7DCCA);
    }


    nav a {
        text-decoration: none;
        color: #172B54;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 42px;
        flex: 1 0 0;
        background: var(--light, #E7DCCA);
        text-decoration: none;
    }

    /*-------h1--------*/
    .h1-content {
        color: var(--navy, #172B54);
        font-family: 'Montserrat-bold';
        font-size: 42px;
        line-height: 120%;
        /* 50.4px */
    }

    .h2-content {
        font-family: 'Montserrat-bold';
        align-self: stretch;
        color: var(--navy, #172B54);
        font-size: 32px;
        font-weight: 700;
        line-height: 120%;
        /* 32px */
    }



    /* SUBTITLE */
    .subtitle {
        color: var(--navy, #172B54);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    /*------- body font style ---------*/
    .body-white {
        color: var(--lightlight, #F7F0E6);
        align-self: stretch;
        text-align: center;
    }

    /*------------- BANNER TYPO -----------*/
    .banner-typo {
        color: var(--lightlight, #F7F0E6);
        font-family: Montserrat-bold;
        font-size: 54px;

    }

    .banner-subtitle {
        color: var(--lightlight, #F7F0E6);
        font-size: 42px;
        line-height: 120%;
    }

    .mini-title {
        color: var(--light, #E7DCCA);
        text-align: center;
        font-size: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }


    /*--------- VIDEO 시발 얘 수정해야함 -----------*/
    .video {
        width: 100%;
        height: 600px;
        object-fit: cover;
        z-index: -100;
    }

    /*------------ button -----------*/
    .btn {
        display: flex;
        height: 56px;
        padding: 16px;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--navy, #172B54);
        background: var(--navy, #172B54);

        color: var(--default-white, #FFF);
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        /* 20px */
        letter-spacing: 0.5px;

        text-decoration: none;
    }

    .btn:focus {
        outline: none;
    }

    .btn:active {
        color: var(--lightlight, #FFFFFF);

        /* Add any additional styles you want for the active state */
        /* For example, you can change the background color or text color */
    }

    /* ------------ INTRO ----------------*/
    #article1 {
        display: flex;
        height: 317px;
        padding: 40px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 48px;
        flex-shrink: 0;
        background: var(--navy, #172B54);
    }

    #title {
        color: var(--lightlight, #F7F0E6);
        font-family: Montserrat-bold;
        text-align: center;
        font-size: 42px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
    }

    #subtitle {
        color: var(--lightlight, #F7F0E6);
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
    }

    /*-----Light Layout------*/
    .light-layout {
        display: flex;
        padding: 80px;
        align-items: center;
        gap: 80px;
        background-color: #F7F0E6;
        color: #172B54;
    }

    /* -------- Beige Layout -----------*/
    .beige-layout {
        display: flex;
        padding: 80px;
        align-items: center;
        gap: 80px;
        background-color: #E7DCCA;
        color: #172B54;
    }

    /*---------Layout content ----------*/
    .layout-content {
        display: flex;
        padding: 32px 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 64px;
        flex: 1 0 0;
    }




    /* -----------INTRO CUISINE BANNER ----------*/
    #article3 {
        display: flex;
        padding: 80px;
        align-items: center;
        gap: 80px;
        background-color: #E7DCCA;
        color: #172B54;
    }

    #intro-cuisine {
        display: flex;
        padding: 32px 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 64px;
        flex: 1 0 0;
    }

    /*------------ GALLERY ------------*/
    #gallery-banner {
        display: flex;
        padding: 80px;
        flex-direction: column;
        align-items: center;
        gap: 34px;
        background-color: #F7F0E6;
    }

    #top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        align-self: stretch;
    }

    .gallery_img_container {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .h1-for-gallery {
        color: var(--navy, #172B54);
        text-align: center;
        font-family: Montserrat-bold;
        font-size: 42px;
        line-height: 120%;
    }

    /*------------------- FOOTER --------------*/
    #footer {
        display: flex;
        padding: 48px 80px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 48px;
        background: #15274A;
    }

    footer a {
        color: var(--lightlight, #F7F0E6);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        list-style-type: none;
        text-decoration: none;
    }

    footer ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: flex-start;
        flex: 1 0 0;
        text-decoration: none;

        display: flex;
        width: 20%;
        align-items: center;
        gap: 16px;
    }

    .top {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 313px;
        align-self: stretch;
        flex-direction: row;
        text-decoration: none;
    }


    #icons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;
        flex: 1 0 0;
    }

    #copyright {
        align-self: stretch;
        color: var(--lightlight, #F7F0E6);
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
    }

    /*--------------- CULTURE PAGE --------------*/
    /*-------- BANNER ---------*/
    #banner-culture {
        display: flex;
        height: 454px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        background-image: url(img/discoverculture.jpg);
        background-size: cover;
    }

    .section-banner-text {
        display: flex;
        width: 1280px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 48px;
    }

    /*--------- ABOUT CULTURE ----------*/
    #about-culture {
        display: flex;
        padding: 80px 114px 80px 117px;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        background-color: #172B54;
    }

    #cultures {
        background-color: var(--lightlight, #F7F0E6);
    }

    #intro-culture {
        display: flex;
        padding: 80px;
        align-items: center;
        gap: 80px;
    }

    .about-top-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        align-self: stretch;
    }

    .short-culture-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        flex: 1 0 0;
    }

    .two-items {
        display: flex;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;
    }

    #content-intro-culture {
        display: flex;
        padding: 32px 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 64px;
        flex: 1 0 0;
    }


    /*------------ CUISINE PAGE ------------*/
    #banner-cuisine {
        display: flex;
        height: 454px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        background-image: url(img/foodbanner.jpg);
        background-size: cover;
    }

    #about-cuisine {
        display: flex;
        padding: 40px 80px;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        background: var(--navy, #172B54);
    }

    /*-------CARD----------*/
    .card-title {
        color: var(--lightlight, #F7F0E6);
        font-size: 20px;
        font-weight: 700;
    }

    .card {
        display: flex;
        width: 390px;
        height: 538px;
        flex-direction: column;
        flex-shrink: 0;

        border-radius: 10px;
        border: 1px solid var(--cool-gray-20, #DDE1E6);
        background: #AE8242;
    }

    .montserrat-16 {
        color: var(--lightlight, #F7F0E6);
        font-size: 16px;
        line-height: 110%;
    }

    #cards {
        display: flex;
        width: 100%;
        max-width: 1679px;
        height: auto;
        justify-content: space-between;
        align-items: flex-start;
        gap: auto;
    }

    .title-food {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
    }

    .content-food {
        display: flex;
        padding: 24px 16px 16px 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
    }

    .body-food {
        align-self: stretch;
        color: var(--lightlight, #F7F0E6);

        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }


    /*--------------CONTACT PAGE-------------*/
    #contact-banner {
        display: flex;
        background: var(--navy, #172B54);
        height: 639px;
        padding: 80px;
        align-items: flex-start;
        gap: 127px;
        flex-shrink: 0;
    }

    #contact-right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 48px;
    }

    #contact-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
    }

    #input-name {
        display: flex;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        font-size: 14px;
    }

    #form-layout {
        display: flex;
        height: 357px;
        flex-direction: column;
        align-items: flex-start;
        gap: 43px;
    }

    .input-group {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-self: stretch;
        align-items: flex-start;
        font-size: 14px;
        color: var(--navy, #172B54);
    }

    input[type="text"],
    textarea {
        background-color: var(--beige, #D6C1A6);
        color: #172B54;
        display: flex;
        height: 48px;
        padding: 2% 8%;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
    }

    #email {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        align-self: stretch;
    }

    button {
        background: var(--light, #E7DCCA);
        display: flex;
        width: 289px;
        height: 48px;
        padding: 16px 12px;
        justify-content: center;
        align-items: center;
        color: var(--navy, #172B54);
        font-size: 16px;
    }
}